body {
    background-color: burlywood;
    color: darkblue;
    font-family: sans-serif;
}
h1 {
    font: outline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    width: fit-content;
    margin: auto;
    text-align: center;
}